# Banco de dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/carrinho_shoppe?schema=public"

# Porta do servidor
PORT=3000

# Chave secreta para JWT (produção)
JWT_SECRET=sua-chave-secreta-aqui
